.direnv
result

# Ignore everything
*

# But not these files...
!.gitignore
!README.md
# nix
!flake.nix
!flake.lock
# direnv
!.envrc
# source code
!*.roc
!*.py
# puzzle input
!*.txt
# vscode
!settings.json
!extensions.json
# helix
!languages.toml
